version: "2.3"
services:
  anaconda:
    build: ./anaconda
    image: sjtug/anaconda-test:1.0
  cargo:
    build: ./cargo
    image: sjtug/cargo-test:1.0
  mongodb:
    build: ./mongodb
    image: sjtug/mongodb-test:1.0
  ubuntu:
    build: ./ubuntu
    image: sjtug/ubuntu-test:1.0
  julia:
    build: ./julia
    image: sjtug/julia-test:1.0
  flatpak:
    build: ./flatpak
    image: sjtug/flatpak-test:1.0
  archlinux:
    build: ./archlinux
    image: sjtug/archlinux-test:1.0
  julia_with_conda:
    build: ./julia_with_conda
    image: sjtug/julia-conda-test:1.0
  rustup:
    build: ./rustup
    image: sjtug/rustup-test:1.0