version: "2.3"
services:
  anaconda:
    build: ./anaconda
    image: sjtug/anaconda-test:1.0
  cargo:
    build: ./cargo
    image: sjtug/cargo-test:1.0
  mongodb:
    build: ./mongodb
    image: sjtug/mongodb-test:1.0
  ubuntu:
    build: ./ubuntu
    image: sjtug/ubuntu-test:1.0
  julia:
    build: ./julia
    image: sjtug/julia-test:1.0
  flatpak:
    build: ./flatpak
    image: sjtug/flatpak-test:1.0
  archlinux:
    build: ./archlinux
    image: sjtug/archlinux-test:1.0
  julia_with_conda:
    build: ./julia_with_conda
    image: sjtug/julia-conda-test:1.0
  rustup:
    build: ./rustup
    image: sjtug/rustup-test:1.0
  emacs-elpa:
    build: ./emacs-elpa
    image: sjtug/emacs-elpa-test:1.0
  alpine:
    build: ./alpine
    image: sjtug/alpine-test:1.0
  opam:
    build: ./opam
    image: sjtug/opam-test:1.0
  pypi:
    build: ./pypi
    image: sjtug/pypi-test:1.0
  dart:
    build: ./dart
    image: sjtug/dart-test:1.0
  fedora:
    build: ./fedora
    image: sjtug/fedora-test:1.0
  centos:
    build: ./centos
    image: sjtug/centos-test:1.0
  openwrt:
    build: ./openwrt
    image: sjtug/openwrt-test:1.0
  rpmfusion:
    build: ./rpmfusion
    image: sjtug/rpmfusion-test:1.0
